/* .extand {
    width: 10px;
    border-radius: 4px;
    font-size: 16px;
    background-repeat: no-repeat;
    
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

  }
  
  .extand:focus {
    width: 100%;
  }
  .extand:focus + span{
    display: none;
  } */