.option-nav {
  color: #363f4a;
  font-family: euclid;
  font-weight: 400;
  text-transform: lowercase;
  letter-spacing: 1px;
  margin: auto;
  font-size: 16px;
}
.option-nav:hover {
  color: #000;
}
.navbar-toggler {
  background-color: transparent;
  border: none;
  outline: none;
}
.navbar .navbar-toggler-icon {
  background-image: url("../../../assets/svg/menu.svg");
  width: 2rem;
  height: 2rem;
}
.navbar-inverse .navbar-toggler-icon {
  background-image: url("../../../assets/svg/menu.svg");
  width: 2rem;
  height: 2rem;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("../../../assets/svg/menu.svg");
  width: 2rem;
  height: 2rem;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 800px) {
  .option-nav {
    font-size: 24px;
    /* margin: 0; */
  }
}