.horizontal-scroll-except-first-column {
  width: 100%;
  overflow: auto;
}

.horizontal-scroll-except-first-column > table > * > tr {
  margin: 8em 0 0 0 !important;
  border-radius: 50px;
}

.horizontal-scroll-except-first-column > table > * > tr > th:first-child,
.horizontal-scroll-except-first-column > table > * > tr > td:first-child {
  position: absolute;
  padding: 30px;
  font-size: 16px;
  width: 22em;
  border: none;
  margin: auto;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  /* margin-left: 5em; */
}
.horizontal-scroll-except-first-column > table > * > tr > {
  margin: 30px 0 0 0;
}
.horizontal-scroll-except-first-column > table > * > tr > th {
  background: #fafafa;
  font-size: 16px;
  font-family: euclid;
  padding: 30px;
  margin: auto;
  text-transform: capitalize;
}
.horizontal-scroll-except-first-column > table > * > tr > td {
  background: #eceff1;
  font-size: 16px;
  padding: 30px;
  font-family: euclid;
  margin: auto;
  text-transform: capitalize;
}

.horizontal-scroll-except-first-column > table > * > tr > th,
.horizontal-scroll-except-first-column > table > * > tr > td {
  /* Without this, if a cell wraps onto two lines, the first column
   * will look bad, and may need padding. */
  white-space: nowrap;
}

@media screen and (max-width: 800px) {
  .horizontal-scroll-except-first-column > table > * > tr > th:first-child,
  .horizontal-scroll-except-first-column > table > * > tr > td:first-child {
    position: absolute;
    padding: 15px;
    font-size: 10px;
    width: 18em;
    border: none;
  }
  .horizontal-scroll-except-first-column > table > * > tr > th {
    font-size: 10px;
    padding: 15px;
  }
  .horizontal-scroll-except-first-column > table > * > tr > td {
    font-size: 10px;
    padding: 15px;
  }
}
